body {
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgba(255, 0, 0, 0.688);
    text-align: center;
}

h2 {
    text-align: center;
    color: dodgerblue;
}

.about {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.skills {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.skills p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.projects {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.projects img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);

}

.projects p {
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.contact {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}