body {
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgba(255, 0, 0, 0.688);
    text-align: center;
}

h2 {
    text-align: center;
    color: dodgerblue;
}

.about {

}

.skills {

}

.projects {

}

.contact {
    
}